{% extends "main.html" %}
{% load staticfiles %}

{% block tratata %}
    {% for r in rec %}
	    <img src="{% static "images/django-logo.png" %}" >
        <p>
           {{ r.title }}<br/>
           {{ r.text }}<br/>
           {{ r.record_date }}
        </p>
        <hr/>
    {% endfor %}

<form method="POST" action="/gb/send/">
    {% csrf_token %}
    <input type="text" name="title">
    <input type="text" name="text">
    <input type="submit" value="submit">
</form>

{% endblock %}