{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Газпром Трансгаз</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/arz_gtnn.css" %}"/>
</head>
<body>
   <img src="{% static  "images/ShelepnevDV.jpg" %}" width="100px">
   {% block tratata %}
       Здравствуйте {{ user }}.
       {% if dol %}
          Вы - {{ dol }}
       {% else %}
          Мы не знаем Вашу должность.
       {% endif %}
   {% endblock %}
   <br/>
   <br/>
   Это наше новое приложение.
</body>
</html>